@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;500;600;700&display=swap');

$Black: hsl(0, 0%, 0%);
$White: hsl(0, 0%, 100%);
$Orange_phase_i: hsl(25, 90%, 85%);
$Orange_phase_ii: hsl(25, 100%, 74%);
$Orange_phase_iii: hsl(25, 94%, 60%);
$Orange: hsl(25, 95%, 56%);
$Light_Grey: hsl(217, 12%, 63%);
$Medium_Grey: hsl(216, 12%, 54%);
$Dark_Blue: hsl(213, 19%, 18%);
$Very_Dark_Blue: hsl(216, 12%, 8%);
$main_bg_i: hsl(215, 26%, 13%);
$main_bg_ii: hsl(215, 20%, 16%);

// font-family: 'Overpass', sans-serif;